.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc
}

.root-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;

}